h5 {
	margin: 0 0 0.5em;
}

p {
	margin-bottom: 2em;
}

.socialButtons {
	display: flex;

	a {
		flex-basis: 2em;
		border-radius: $base-border-radius;
		padding: 0.25em 1.5em 0 0;

		svg {
			height: 2em;
			width: 2em;
			fill: $base-font-color;
					transition: all .15s linear;

		}

		&:hover {
			svg {
				fill: $base-accent-color;
			}
		}
	}
}